<%- include("partials/header") -%>

    <nav class="navbar non-transparent navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="index.html"><img src="images/covidlogo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gragh">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notification">Advisory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hostpitality">Hospitals</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/helpline">Helpline</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid parallax2">
        <div class="row justify-content-center text-center align-item-center ">
            <h1>Contact US</h1>
        </div>
    </div>

    <section id="social-media">
        <div class="contact-icon">
            <i class="fa fa-mobile fa-2x"> +91-11-23978046</i>
            <i class="fa fa-envelope fa-2x"> ncov2019@gov.in</i>
            <i class="fa fa-phone-square fa-2x"> 1075 </i>
        </div>
        <h3 class="social-icon-h3">Follow US</h3>
        <div class="social-icon">
            <a href="https://twitter.com/MoHFW_INDIA"><i class="fa fa-twitter fa-3x"></i></a>
            <a href="https://www.facebook.com/MoHFWIndia"><i class="fa fa-facebook fa-3x"></i></a>
            <a href="https://pib.gov.in/newsite/pmreleases.aspx?mincode=31"><i class="fa fa-globe fa-3x"></i></a>
        </div>
    </section>
    <div class="container" style="margin-top: 30px;">
        <div class="row table">
            <table class="table table-striped justify-content-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">State Name</th>
                        <th scope="col">Helpline Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer">
        <div class="container ">
            <div class="row text-center justify-content-center ">
                <p>Copyright © Team.js All Rights Reserves</p>
            </div>
        </div>
    </footer>
    </body>

    </html>